<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.earthquakedetector/java.util.prefs.Preferences"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <package android:name="com.example.earthquakedetector" />
    </queries>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.EarthQuakeDetector"
        tools:targetApi="33">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity
            android:name="com.example.earthquakedetector.MainActivity"
            android:label="Earthquakedetector"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.earthquakedetector.Preferences" android:exported="true" android:label="Options"/>
    </application>
</manifest>